* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  height: 7vh;
  width: 100vw;
  background-color: #be3144;
  position: fixed;
}
#navbar {
  float: right;
  margin-right: 60px;
  padding-top: 21px;
}
#navbar a {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 40px;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1 {
  color: white;
  font-size: 4em;
}

#welcome-section p {
  font-size: 2em;
  color: #be3144;
  font-style: italic;
}
#projects {
  background-color: #45567d;
}

h2 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  font-size: 3em;
  color: white;
  border-bottom: 2px solid white;
}

.work {
  width: 80%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  column-gap: 30px;
}

.name {
  background-color: #303841;
  margin-top: -10px;
  color: white;
  text-align: center;
}

.name p {
  display: inline-block;
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.name span {
  color: #303841;
}

a {
  text-decoration: none;
  color: #fff;
}

article {
  height: 40%;
  margin-bottom: 40px;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.button {
  grid-column-start: 2;
  justify-self: center;
}

.button button {
  background-color: #303841;
  color: #fff;
  width: 160px;
  height: 50px;
  font-size: 1.5em;
  letter-spacing: 1px;
  border: none;
  margin-bottom: 40px;
  font-weight: 50;
  cursor: pointer;
}
.button button:hover {
  background-color: #be3144;
}

#contact {
  height: 87vh;
  background-color: #303841;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #be3144;
}

h3 {
  font-size: 4em;
  color: #fff;
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.3em;
  color: #fff;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 50px;
}

#social a {
  color: #fff;
  font-size: 1.8em;
  margin-left: 20px;
  text-shadow: 2px 2px 1px #1f1f1f;
}

footer {
  height: 10vh;
  background-color: #303841;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 1.3em;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
